/* css styles */
.navbar-dark, .quarto-title-banner {
  background-color: #006DAE;
}

/* Photo size and position */

.quarto-about-trestles .about-entity img {
  border-radius: 50% !important;
  width: 380px !important;
  height: 380px !important;
  object-fit: cover !important;
  border: 5px solid #d6c8ff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  display: block;
  margin-left: -15px;
  margin-right: auto; 
  margin-top: 10px;
}

/* Sidebar background */
.quarto-about-trestles .about-entity {
  background-color: #faf8ff;
  border-radius: 18px;
  padding: 1.8em;
  margin-left: -250px;
  box-shadow: 0 0 10px rgba(214, 200, 255, 0.3);
}

/* Text justification and alignment */
.quarto-about-trestles .about-contents p {
  text-align: justify;
  line-height: 1.8;
  font-size: 1rem;
}

/* Icon links */
.quarto-about-trestles .about-links {
  text-align: center;
  margin-top: 12px;
}
